<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @carpool.user_id %>
</p>

<p>
  <b>To:</b>
  <%= @carpool.to %>
</p>

<p>
  <b>From:</b>
  <%= @carpool.from %>
</p>


<%= link_to 'Edit', edit_carpool_path(@carpool) %> |
<%= link_to 'Back', carpools_path %>
